body {
    font-size: 18px;
    margin: 10;
    padding: 10;
    background: #f0f8fa;
    background-image: url(../img/6.png);
    background-size: cover;
}

header,
footer {
    height: 50px;
}

.menu {
    position: relative;
    text-shadow: 1px 1px 2px black, 0 0 1em #0066ff;
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
    text-align: center;
    display: block;
    border-radius: 20px;
    background: -webkit-linear-gradient(70deg,#bda3d5 50%);
    background: -o-linear-gradient(20deg, #bda3d5 50%);
    background: linear-gradient(20deg, #bda3d5 50%);
}

a { 
text-decoration: none;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.container {
max-width: 1000px;
margin: 0 auto;
font-weight : normal;


}
img {
  width: 100%;
  height: auto;  
}
table {
    border-collapse: collapse;
}
tr {
    border: 1px solid black;
}
th:first-child {
    border-right: 1px solid black;
}
td:first-child {
    border-right: 1px solid black;
}
th, td {
    padding: 10px;
    background: #efefef;
    text-align: center;
}
th {
  background: #555def;
}
.text-blue1 {
    color: #a7bacc;
}
.more-btn {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
input[type=text], input[type=password] {
    padding: 5px;
    margin:5px 10px 15px 10px;
    display: inline-block;
    border: lightsteelblue;
    background: #f1f1f1;
}
.reg {
    text-align: right;
    background-size: cover;
    display: block;
}
h2 {
    font-weight: 400;
    font-style: italic;
    text-shadow: 1px 1px 2px #0066ff;

}
.ff {
    display: inline-block;
    width: 65%;
    height: 100%;
    object-position: 150px 0;
}
h3 {
    color: #323680;
} 